<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">


    <Properties>
        <Property name="log4j.skipJansi">false</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%d{HH:mm:ss.SSS} [%t] %highlight{%-5level}{FATAL=bg_red bright_white, ERROR=red, WARN=yellow, INFO=green, DEBUG=blue, TRACE=magenta} %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>